/* You can add global styles to this file, and also import other style files */

body{
  background: linear-gradient(#E9BCB7, #29524A);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  width: auto;
}
